<div>
    <div >
        <h1>My Posts</h1>
    </div

    <div class="tile is-parent box has-background-grey shadow">
        <p>post container</p>
    </div>

    <div>
        <h2>Saved Posts</h2>
    </div>

    <div class="tile is-parent box has-background-grey shadow">
        <p>saved posts container</p>
    </div>
</div>