{{!-- Login --}}
<div class="parent">
  <div class="box has-background-primary-light child ml-5">
      <form id="login" name="login" method="post" action="login">
        <label for="email">Email Address</label>
        <input class="text" name="email" type="text" />
        <label for="password">Password</label>
        <input name="password" type="password" />
        <input class="btn" type="submit" value="login" />
    </form>
    </div>
</div>

<script src="/js/login.js"></script>