{{!-- Signup --}}

<div class="parent">
  <div class="box has-background-primary-light child mr-5">
          <div class="box has-background-primary-light">
            <h2 class="title is-3 pb-2">Register</h2>
          </div>
      <div class="field">
        <label class="label">Name</label>
          <div class="control">
            <input class="input" id="name-register" type="text" placeholder="e.g Alex Smith">
          </div>
      
        <label class="label">Email</label>
          <div class="control">
            <input class="input" id="email-register" type="email" placeholder="e.g. alexsmith@gmail.com">
          </div>

        <label class="label">Password</label>
          <div class="control">
            <input class="input" id="password-register" type="password" placeholder="e.g. 1234">
          </div>
      </div>
      <div class="control">
        <button style="float:right" class="button is-link is-success" id="register-button">Submit</button>
      </div>
  </div>


{{!-- Login --}}

    <div class="box has-background-primary-light child ml-5">
      <div class="field">
        <label class="label">Email</label>
        <div class="control">
          <input class="input" id="email-login" type="email" placeholder="e.g. alexsmith@gmail.com">
        </div>
      </div>

      <div class="field">
        <label class="label">Password</label>
        <div class="control">
          <input class="input" id="password-login" type="password" placeholder="e.g. 1234">
        </div>
      </div>
      <div class="control">
        <button style="float:right" class="button is-link is-success" id="login-button" >Log In</button>
      </div>
    </div>
</div>

<script src="/js/login.js"></script>