
  <div class="box has-background-primary margincenter paddingsubmit">
      <div class="links box has-background-primary-light pb-6">
          <div class="links box has-background-primary-light">
            <p class="tile is-ancestor has-background-primary-light has-text-success-dark title ">Create Listing</p>
          </div>
    <div class="field">
        <label class="label pl-3">Title</label>
        <div class="control">
          <input class="input" id="title-listing" type="text" placeholder="e.g. Experienced Landscaper">
        </div>
      </div>
      
      <div class="field">
            <label class="label pl-3">Category</label>
             <div class="control">
                <div class="select">
                  <select id = "category-listing">
                    <option>Landscaping</option>
                    <option>Lawn Mowing</option>
                    <option>Gutter cleaning</option>
                    <option>Mulching</option>
                  </select>
                </div>
            </div>
        </div>
        
      <div class="field">
        <label class="label pl-3">Description</label>
        <div class="control">
          <input class="input" id="description-listing" type="description" placeholder="e.g. experience, skills, full-time, etc.">
        </div>
      </div>

      <div class="field">
        <label class="label pl-3">Location</label>
        <div class="control">
          <input class="input" id="location-listing" type="location" placeholder="Zipcode">
        </div>
      </div>

      <div class="field">
        <label class="label pl-3">Hourly Rate</label>
        <div class="control">
          <input class="input" id="pricing-listing" type="pricing" placeholder="e.g. 22.50">
        </div>
      </div>
      <div class="control">
        <button style="float:right" class="button is-link is-success" id="create-listing">Submit</button>
      </div>
  </div>
  </div>

<script src="/js/listing.js"></script>