<section>
    <div class="field">
        <label class="label">Title</label>
        <div class="control">
          <input class="input" id="title-listing" type="text" placeholder="e.g. Experienced landscaper looking for work">
        </div>
      </div>
      
      <div class="field">
            <label class="label">Category</label>
             <div class="control">
                <div class="select">
                  <select id = "category-listing">
                    <option>Landscaping</option>
                    <option>Lawn Mowing</option>
                    <option>Gutter cleaning</option>
                    <option>Mulching</option>
                  </select>
                </div>
            </div>
        </div>
        
      <div class="field">
        <label class="label">Description</label>
        <div class="control">
          <input class="input" id="description-listing" type="description" placeholder="e.g. Residential, commercial, full-time">
        </div>
      </div>

      <div class="field">
        <label class="label">Location</label>
        <div class="control">
          <input class="input" id="location-listing" type="location" placeholder="e.g. 78759">
        </div>
      </div>

      <div class="field">
        <label class="label">Pricing per hour</label>
        <div class="control">
          <input class="input" id="pricing-listing" type="pricing" placeholder="e.g. 22.50">
        </div>
      </div>
      <div class="control">
        <button style="float:right" class="button is-link is-success" id="create-listing">Submit</button>
      </div>
</section>

<script src="/js/listing.js"></script>