{{! Signup/register }}

<div class="parent">
    <div class="box has-background-primary-light child mr-5">
        <div class="box has-background-primary-light">
            <h2 class="title is-3 pb-2">Register</h2>
        </div>
        <form id="register" name="register" method="post" action="/register">
        <label for="email">Email Address: </label>
        <input class="text" name="email" type="email" />
        <label for="name"> Name: </label>
        <input name="name" type="text" />
        <label for="password">Password: </label>
        <input name="password" type="password" />
        <input class="btn" type="submit" value="register" />
    </form>
    </div>

</div>

<script src="/js/login.js"></script>