<section>
      <div class="field box">
        <label class="label">Service:</label>
        <div class="control">
          <div class="select">
            <select id = "category-listing">
              <option>Landscaping</option>
              <option>Lawn Mowing</option>
              <option>Gutter cleaning</option>
              <option>Mulching</option>
            </select>
          </div>
        </div>
      </div>

      <div class="field box mt-6">
        <label class="label">Location:</label>
        <div>
          <input class="input is-success" type="text" placeholder="Text input" value="Zipcode">
        </div>
      </div>

      <div class="control">
            <button style="float:right" class="button is-link is-success">Submit</button>
      </div>

</section>