<div>
    <div class="tile is-parent box has-background-grey shadow">
        <form>
            <label for="fname">Job Description:</label><br>
            <input type="text" id="jobdescribe" name="jobdescribe"><br>
            <label for="lname">Location:</label><br>
            <input type="text" id="location" name="location">
          </form>
    </div>

    <div>
        <button type="button">Submit</button>
    </div>
</div>