* {
  background-color: rgb(192, 246, 192);
  padding: 70px;
}

 ul {
    list-style-type: none;
    margin: 20px;
    padding: 0;
    overflow: hidden;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: rgb(7, 7, 7);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
   color: rgb(123, 123, 123);
  } 

  .border {
    border-bottom-style: solid;
    border-color: rgb(152, 188, 170);
  }

  #search-list{
    display: none;
  }