<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../public/css/style.css">
    <title>Search Page</title>
</head>

<body>

<header>
    <div class="nav">
        <ul>
            <li><a href="#home">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
            <li  style="float:right"><a href="#search">Search</a></li>
            <li  style="float:right"><a href="#login">Post</a></li>
        </ul>
    </div>
</header>

<section>
    <div>
        <form>
            <label for="fname">Job Description:</label><br>
            <input type="text" id="jobdescribe" name="jobdescribe"><br>
            <label for="lname">Location:</label><br>
            <input type="text" id="location" name="location">
          </form>
    </div>

    <div>
        <button type="button">Submit</button>
    </div>
</section>

<footer>
    <div>
        <p>© 2022 Know Mow Inc.</p>
    </div>
</footer>

</body>
</html>